/*Seletor universal
{
    border:10px solid #444;
}*/

/*Seletor de texto*/
h3 {
    color:red;
}

/*Seletor de classe*/
.verde {
    background-color: greenyellow;
}

/*Seletor de classe*/
p.verde {
    background-color: rgb(84, 139, 0);
}

/*Seletor de ID*/
#rosa {
    background-color: rgb(255, 141, 160);
}

/*Seletor filho*/
li>a {
    background-color: khaki;
}

/*Seletor de descendente*/
div a {
    color:rgb(255, 0, 0);
}

/*Seletor de irmão adjacente*/
h3+p {
    background-color: #000;
    color: #fff;
}

/*Seletor de irmão geral*/
h1~i {
    background-color: red;
}